@import "tailwindcss";

@theme {
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #16a34a;
  --color-brand-600: #15803d;
  --color-brand-700: #166534;

  --color-warn-100: #fef9c3;
  --color-warn-500: #ca8a04;

  --color-danger-100: #fee2e2;
  --color-danger-500: #dc2626;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
}
